AttentionIsAll/nips_2018.aux
AttentionIsAll/nips_2018.bbl
AttentionIsAll/nips_2018.blg
AttentionIsAll/nips_2018.log
AttentionIsAll/nips_2018.out
AttentionIsAll/nips_2018.synctex.gz
AttentionIsAll/texput.log
